ACCESS_TOKEN_SECRET=somesecretkeyhere
REFRESH_TOKEN_SECRET=somesecretkeyhere

DB_HOST_PROD=
DB_USER_PROD=
DB_PASSWORD_PROD=
DB_NAME_PROD=
DB_DIALECT_PROD=postgres
PORT_PROD=80

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=todo
DB_DIALECT=postgres
PORT_DEV=3000

# config root user
POSTGRES_DB=todo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# DB_HOST=db_postgres - имя  хоста - это название сервиса в docker-compose.yml
DOCKER_DB_HOST=db_postgres  
DOCKER_DB_USER=postgres
DOCKER_DB_PASSWORD=postgres
DOCKER_DB_NAME=todo
DOCKER_DB_DIALECT=postgres
DOCKER_PORT_DEV=3000



